body {
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
  color: #fa0c94;
  filter: drop-shadow(3px 2px 2px black);
}

h2 {
  font-size: 1.25rem !important;
  color: #212553;
}

h3 {
  font-size: 1rem !important;
}

span {
  font-size: 0.85rem;
}

p {
  font-size: 0.85rem !important;
}

/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Header ------ */

.header-background {
  /* background-image: url(../Images/Website_Banner2.png);
  background-repeat: repeat; */
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}

.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Video ------ */

section#hero {
  margin-bottom: 3%;
  /* background-color: #4d34e5; */
}

.video_section {
  display: flex;
  justify-content: center;
  position: relative;
}

#kdDance {
  margin-top: 2%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 75%;
  border-radius: 25px;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  top: 20.5%;
  /* bottom: 34%; */
  /* background: linear-gradient(to right, #7560eb5c, #7560eb00); */
  /* background: rgba(0, 0, 0, 0.4); */
  color: #fff3ef;
  width: 73.5%;
  padding-top: 2%;
  padding-left: 2%;
  right: 22%;
}

.picture {
  width: 65%;
}

/* ------ About ------ */

section#first-paragraph {
  background-color: #fff3ef;
  border-radius: 50px;
  margin-top: 3%;
}

.ant-bex {
  width: 300px;
  border-radius: 25px;
}

.text-center {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.img-margin {
  margin-top: 0rem;
}

.first-para-text {
  margin-top: 2rem !important;
}

.low-margin {
  margin-top: 1rem;
}

/* ------  ------ */

section#second-paragraph {
  margin-top: 3%;
}

.half-one {
  background-color: #fa0c94;
  color: #fff3ef;
  padding-top: 1.5rem;
  border-radius: 50px;
  /* margin-right: 5%; */
  padding-left: 7%;
  padding-right: 7%;
}

.pink-box-title {
  color: #def984;
}

.half-two {
  background-color: #def984;

  padding-top: 1.5rem;
  border-radius: 50px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 2rem;
}

.half-img {
  padding-bottom: 2%;
  margin-top: 1rem;
}

.row {
  justify-content: center !important;
}

/* ------  ------ */

.third-cont {
  background-color: #fff3ef;
  border-radius: 50px;
  margin-top: 4%;
  margin-left: 12.5%;

  max-width: 87.5%;
}

.info-margin-top {
  margin-top: 1rem;
}

/* ------  ------ */

.fourth-cont {
  background-color: #ffdbcd;
  border-radius: 50px;
  margin-top: 2%;
  margin-right: 12%;
  max-width: 88%;
}

/* ------  ------ */

.fifth-cont {
  background-color: #fff3ef;
  border-radius: 50px;
  margin-top: 2%;
  margin-left: 12.5%;
  max-width: 87.5%;
}

.about-text {
  color: #fa0c94;
}

.size {
  font-size: 1.5rem;
}

.box-text {
  padding-left: 7%;
  padding-right: 0%;
}

.margin-top2 {
  margin-top: 1rem;
}

.daft-chef-full {
  margin-top: 0rem;
}

.pic-shadow {
  filter: drop-shadow(5px 5px 5px #222);
}

.headshots {
  border-radius: 25px;
}

.puter-drink {
  margin-left: 1rem;
}

.title {
  background-color: #fff3ef;
  /* border-radius: 50px; */
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.contact-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* .web-title {
  color: #fff3ef;
} */

.btn-pricing {
  background-color: #212553;
  color: #fa0c94;
  box-shadow: 3px 3px 2px 2px #686860b3;
}

@media (min-width: 340px) {
  /* .third-cont {
    width: 297px;
  }
  .fourth-cont {
    width: ;
  } */
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
}

@media (min-width: 576px) {
  section#hero {
    margin-top: 5rem;
  }
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 2;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .logo-hover {
    top: 1px;
    right: 113px;
  }
  .info-margin-top {
    margin-top: 0rem;
  }
  .box-text {
    padding-left: 0%;
    padding-right: 3%;
  }
  .third-cont {
    margin-left: 11.5%;
  }
  .puter-drink {
    margin-left: 0rem;
    position: relative;
    left: 1rem;
    bottom: 0rem;
  }
  .fourth-cont {
    margin-right: 11%;
  }
  .margin-top2 {
    margin-top: 0rem;
  }
  .daft-chef-full {
    margin-left: 0rem;

    margin-top: 0rem;
  }
}

@media (min-width: 768px) {
  /* .main-nav {
    display: block;
  }
  .hidden-nav {
    display: none;
  } */
  .logo-hover {
    top: 1px;
    right: 166px;
  }
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .ant-bex {
    position: relative;
    right: 2rem;
  }
  #first-paragraph .img-fluid {
    max-width: 135%;
  }
  .half-one {
    margin-right: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2rem;
  }
  .half-two {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2rem;
  }
  /* .puter-drink {
    /* margin-left: 2rem;
    position: relative;
    left: 4rem;
    max-width: 80% !important;
  } */
  .salt-ball {
    margin-left: 1rem;
    width: 350px;
  }
  .daft-chef {
    margin-left: 0rem;
  }
  /* .ant-bex {
    margin-left: 4rem;
  } */
  .info-margin-top {
    margin-top: 0rem;
  }
  .puter-drink {
    margin-left: 0rem;
    position: relative;
    left: 1rem;
    bottom: 0rem;
    width: 350px;
  }
}

@media (min-width: 992px) {
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .header-background {
    height: 80px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 102px;
  }
  .location-text,
  .nav-text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  #first-paragraph .img-fluid {
    max-width: 100%;
  }
  .ant-bex {
    width: 450px;
    margin-bottom: 1rem;
    right: 0rem;
  }
  #kdDance {
    max-width: 75%;
  }
  .content {
    top: 11.5%;
    width: 65%;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  /* h3 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem !important;
  } */
  /* .nav-text,
  .location-text {
    margin-top: 1rem;
  } */
  .img-margin {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
  #fourth-paragraph .img-margin {
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
}

@media (max-width: 575px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
}

@media (max-width: 1199px) {
  .nav {
    position: relative;
    left: 20%;
  }
}
