body {
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
  color: #fa0c94;
}

h2 {
  font-size: 1.25rem !important;
  color: #212553;
}

h3 {
  font-size: 1rem !important;
}

span {
  font-size: 0.85rem;
}

p {
  font-size: 0.85rem !important;
}

/* h1 {
  font-size: 1.75rem;
  color: #212553;
}

h2 {
  font-size: 1.2rem;
  color: #fa0c94;
}

h3 {
  font-size: 1rem;
  color: #fa0c94;
}

p {
  font-size: 0.85rem;
} */

.text-centre {
  text-align: center;
}

/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Header ------ */

.header-background {
  /* background-image: url(../Images/Website_Banner2.png);
  background-repeat: repeat; */
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}
.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-text:hover {
  color: #def984;
}

.nav-item {
  margin-left: 0.5rem;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Email ------ */

.email-square {
  background-color: #fff3ef !important;
  border-radius: 25px;
}

.email-inner {
  padding-left: 0rem;
  padding-right: 0rem;
}

.first-sentance {
  margin-bottom: 0.5rem;
}

.btn-email {
  background-color: #fa0c94;
  color: #11ddac;
  box-shadow: 3px 3px 2px 2px #686860b3;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.btn-email:hover {
  background-color: #060606;
  color: #fa0c94;
}

.top-btn-mob {
  display: inline-block;
  position: relative;
  left: 3rem;
  text-decoration: none;
}

.top-btn-disp {
  display: none;
}

/* ------ Socials ------ */

.socials-square {
  background-color: #ffdbcd !important;
  color: #000000 !important;
  border-radius: 25px;
}

.insta-head,
.tt-head {
  margin-left: 0.5rem;
}

.insta-ad,
.tt-ad {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.insta-post {
  display: flex;
  justify-content: center;
}

.conts {
  display: flex;
  align-items: center;
}

@media (min-width: 375px) {
  .insta-head,
  .tt-head,
  .tt-ad,
  .insta-ad {
    margin-left: 10px;
  }
  .top-btn-mob {
    left: 5rem;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
    color: #212553;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  .top-btn-mob {
    left: 7rem;
  }
}

@media (min-width: 470px) {
  .top-btn-mob {
    left: 8rem;
  }
}

@media (min-width: 500px) {
  .top-btn-mob {
    left: 10rem;
  }
}

@media (min-width: 576px) {
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .logo-hover {
    top: 1px;
    right: 128px;
  }
  #get-to-kno {
    position: relative;
    top: 5rem;
  }
}

@media (min-width: 768px) {
  /* .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
  }
  .hidden-nav {
    display: none;
  } */
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .logo-hover {
    top: 1px;
    right: 182px;
  }

  .insta-head,
  .tt-head,
  .tt-ad,
  .insta-ad {
    margin-left: 15px;
  }
  .top-btn-mob {
    display: none;
  }
  .top-btn-disp {
    display: inline-block;
    position: relative;
    left: 15rem;
    text-decoration: none;
  }
  .email-inner {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

@media (min-width: 992px) {
  .header-background {
    height: 85.5px;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 110px;
  }
  .location-text,
  .nav-text {
    font-size: 1.7rem;
  }
  .tt-ad {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 2.2rem !important;
    color: #212553;
  }
  h3 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem !important;
  }
  .btn-email {
    font-size: 1.5rem;
  }
  .location-text,
  .nav-text {
    font-size: 1.7rem;
  }
  .nav-text,
  .location-text {
    margin-top: 1rem;
  }
  .top-btn-disp {
    left: 22rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
  .tt-ad {
    margin-bottom: 30px;
  }
  .insta-ad {
    margin-bottom: 30px;
  }
  .top-btn-disp {
    left: 27rem;
  }
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
  .btn-lg {
    --bs-btn-font-size: 1.25rem !important;
  }
  .insta-head,
  .tt-head,
  .tt-ad,
  .insta-ad {
    margin-left: 45px;
  }
  .btn-email {
    font-size: 1.7rem;
  }
  .top-btn-disp {
    left: 33rem;
  }
  .logo-button {
    width: 61%;
  }
}

@media (max-width: 576px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
}

@media (max-width: 1199px) {
  .nav {
    position: relative;
    left: 20%;
  }
}
