body {
  background-image: url(../Images/Untitled\ design.png);
}

#faqs-page {
  margin-top: 1rem;
}

h1 {
  font-size: 2.4rem !important;
  color: #fa0c94;
  filter: drop-shadow(3px 2px 2px black);
}

h2 {
  font-size: 1.25rem !important;
  color: #212553;
}

h3 {
  font-size: 1rem !important;
}

span {
  font-size: 0.85rem;
}

p {
  font-size: 0.85rem !important;
}

.KD-theme {
  background-color: #def984;
  border-radius: 25px;
  text-align: center;
}

.contact-us {
  background-color: #ffdbcd;
  border-radius: 25px;
  text-align: center;
}

/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Header ------ */

.header-background {
  /* background-image: url(../Images/Website_Banner2.png);
  background-repeat: repeat; */
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}

.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

.faq-text {
  color: #fa0c94;
}

.party-pix {
  display: flex;
}

/* .antnbex {
  position: relative;
  width: 50%;
  transform: scaleX(-1);
/* } */

.antnbex2 {
  position: relative;
  width: 50%;
  transform: scaleX(-1);
  filter: drop-shadow(5px 5px 5px #222);
}

/* .antnbex3 {
  position: relative;
  width: 50%;
  transform: scaleX(-1);
  transform: rotate(180deg);
} */

.antnbex4 {
  position: relative;
  width: 50%;
  filter: drop-shadow(5px 5px 5px #222);
}

.white-background,
.white-background-change {
  background-color: #fff3ef;
  border-radius: 25px;
}

.pink-background {
  background-color: #fa0c94;
  color: #fff3ef;
  border-radius: 25px;
}

.black-background {
  background-color: #def984;
  color: black;
  border-radius: 25px;
}

.off-white-background {
  background-color: #ffdbcd;
  border-radius: 25px;
  height: 209px;
}

.btn-email {
  background-color: #fa0c94;
  color: #212553;
  box-shadow: 3px 3px 2px 2px #686860b3;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.btn-email:hover {
  background-color: #060606;
  color: #fa0c94;
}

.top-btn-mob {
  text-align: center;
}

@media (min-width: 375px) {
  .off-white-background {
    height: 231px;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
    color: #212553;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  /* .top-btn-mob {
    left: 4rem;
  } */
  .off-white-background {
    height: 269px;
  }
}

@media (min-width: 576px) {
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 2;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .logo-hover {
    top: 1px;
    right: 113px;
  }
  #faqs-page {
    margin-top: 5rem;
  }
  /* .top-btn-mob {
    left: 8rem;
  } */
  .off-white-background {
    height: 313px;
  }
}

@media (min-width: 768px) {
  #faqs-page {
    margin-top: 6rem;
  }
  /* .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  } */
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .logo-hover {
    top: 1px;
    right: 166px;
  }
  .off-white-background {
    height: 404px;
  }
  .FAQ-title {
    position: relative;
    top: 6rem;
  }
  .white-background-change {
    background-color: #fa0c94;
    color: #fff3ef;
    border-radius: 25px;
  }

  .pink-background {
    background-color: #fff3ef;
    border-radius: 25px;
    color: black;
  }
  /* .top-btn-mob {
    left: 14rem;
  } */
}

@media (min-width: 992px) {
  #faqs-page {
    margin-top: 7rem;
  }
  .header-background {
    height: 80px;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 102px;
  }
  .location-text,
  .nav-text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  /* h2 {
    font-size: 2.2rem !important;
    color: #212553;
  }
  h3 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem !important;
  } */
  /* .nav-text,
  .location-text {
    margin-top: 1rem;
  } */
  /* .top-btn-mob {
    left: 21rem;
  } */
  .off-white-background {
    height: 458px;
  }
  .party-pix {
    position: relative;
    bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
  .float-background {
    /* background-color: #fff3ef;
    border-radius: 25px; */
    width: 64%;
    /* position: relative; */
    left: 8rem;
    /* margin-right: 20%;
    padding-left: 8%; */
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
  .party-pix {
    bottom: 3rem;
  }
  /* .top-btn-mob {
    left: 27rem;
  } */
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
  /* .top-btn-mob {
    left: 32.7rem;
  } */
  .off-white-background {
    height: 565px;
  }
}

@media (max-width: 575px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
}

@media (max-width: 1199px) {
  .nav {
    position: relative;
    left: 20%;
  }
}
