/* ------ Backgrounds ------ */

body {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-image: url(../Images/Untitled\ design.png);
}

section#about {
  background-color: #fff3ef;
  border-radius: 50px;
}

.test {
  background-color: #fff3ef;
  border-radius: 50px;
}

section#what-we-offer {
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
}

h2 {
  font-size: 1.25rem !important;
  color: #212553;
}

h3 {
  font-size: 1rem !important;
}

span {
  font-size: 0.85rem;
}

p {
  font-size: 0.85rem !important;
}

/* section#completed {
  background-color: #fff3ef;
} */

/* section#six {
  background-color: #ff914d;
} */

/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Header ------ */

.nav-text {
  color: #fa0c94;
  font-size: 1.4rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1.4rem;
}

.header-background {
  /* background-image: url(../Images/Website_Banner2.png); */
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
  /* height: 50.5px; */
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Hero ------ */

/* .hero-title {
  margin-bottom: 100px;
} */

.hero-title {
  margin-top: 0;
  position: relative;
  bottom: 55px;
  padding-left: 5% !important;
}

.hero-img {
  position: relative;
  bottom: 50px;
  padding-left: 24px !important;
}

.hero-button {
  padding-left: 5%;
}

.img-fluid {
  max-width: 118%;
}

.btn-about {
  background-color: #fa0c94;
  color: #11ddac;
  box-shadow: 3px 3px 2px 2px #686860b3;
  font-size: 0.9rem;
}

.btn-about:hover {
  background-color: #060606;
  color: #fa0c94;
}

.btn-services {
  border-color: #fa0c94;
  font-size: 0.9rem;
}

.btn-services:hover {
  box-shadow: 3px 3px 2px 2px #686860b3;
  color: #fff3ef;
  border-color: #000000;
}

#typeChat {
  font-size: 1rem !important;
  margin-right: 1rem;
}

/* ------ Marquee ------ */

.marquee {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  border: 3px solid rgba(0, 0, 0);
  background-color: transparent;
  overflow: hidden;
  position: relative;
  height: 75px;
  width: 100%;
  /* Full width of its parent */
  white-space: nowrap;
  bottom: 25px;
}

.marquee-img {
  position: absolute;
  width: auto;
  /* background-image: url(../Images/marquee\ banner.png);
  background-repeat: repeat; */
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Start off the right edge */
  transform: translateX(100%);
  /* Animate to the left */
  animation: scroll-left 20s linear infinite;
}

.banner {
  width: 150%;
}

.banner-hide {
  display: none;
  width: 600px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-151%);
  }
}

/* ------ About ------ */

.about-text {
  color: #000000;
}

.about-title {
  color: #fa0c94;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.ant-bex {
  border-radius: 50px;
  width: 275px;
  padding-left: 0%;
}

.slideUp {
  animation-name: slideUp;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-duration: 1s;
}

.pic-shadow {
  box-shadow: 3px 3px 2px 2px #686860b3;
}

.au-div {
  padding-left: 0% !important;
}

/* ------ What we offer ------ */

.offer-text {
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  color: #fa0c94;
  filter: drop-shadow(3px 2px 2px black);
}

.offer-text h2 {
  font-size: 3rem;
}

.offer-img-first {
  margin-top: 0rem;

  display: flex;
  justify-content: center;
}

.offer-img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

/* .offer-img-middle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
} */

.offer-img-last {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.offer-first-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.offer-second-text {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.offer-second-text-two {
  display: none;
}

.offer-last-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.offer-last-text-hide {
  display: none;
}

.offer-title {
  text-decoration: underline;
  font-size: 2rem;
}

.offer-desc {
  font-size: 1.2rem;
  justify-content: center;
}

@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pic-shadow2 {
  filter: drop-shadow(5px 5px 5px #222);
}

.shake-transition {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 3s;
}

.shake-transition2 {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 6s;
}

.shake-transition3 {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 9s;
}

/* ------ Show-off ------ */

/* .show-off-text {
  border: solid;
  border-color: #0000005c;
  border-radius: 47%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.btn-show-off {
  background-color: #59e244;
  box-shadow: 0px 3px 2px 2px #0000006f;
}

.show-off-button {
  z-index: 2;
  position: absolute;
  left: 5.375rem;
  top: 12.75rem;
}

.btn-show-off:hover {
  background-image: linear-gradient(#59e24469, #59e244);
}

.show-off-position {
  position: relative;
}

.show-off {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
}

.show-off-show {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
  display: flex;
}

.show-off-hide {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
  display: none;
}

.hidden {
  display: none;
}

.show-off img {
  border-radius: 12%;
}

.show-off-show img {
  border-radius: 12%;
}

.show-off-hide img {
  border-radius: 12%;
} */

/* ------ Contact ------ */

#contact {
  display: flex;
}

.contact-background {
  background-color: #ffdbcd !important;
  border-radius: 75px;
  /* display: flex; */
  /* justify-content: center; */
  height: 22rem;
}

.contact-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

.contact-text-move {
  top: 5rem;
}

.disco-ball {
  width: 111%;
  position: relative;
  z-index: 0;
  left: -0.5rem;
  bottom: 4rem;
}

/* ------ Media Queries ------ */

@media (min-width: 375px) {
  .au-div {
    padding-left: 5% !important;
  }
  .marquee {
    height: 87px;
  }
  .hero-button {
    margin-left: 10%;
  }
  .disco-ball {
    width: 100%;

    left: 0rem;
    bottom: 5rem;
  }
}

@media (min-width: 425px) {
  .au-div {
    padding-left: 8% !important;
  }
  .marquee {
    height: 98px;
  }
  .banner {
    width: 600px;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-33.5%);
    }
  }
  .hero-button {
    margin-left: 14%;
  }
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
    color: #212553;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  .disco-ball {
    width: 90%;
    left: 1rem;
    bottom: 5rem;
  }
  .contact-text-move {
    top: 5.5rem;
  }
}

@media (min-width: 576px) {
  .show-off-button {
    left: 3.75rem;
    top: 8.75rem;
  }
  .hero-img {
    position: relative;
    bottom: 45px;
    padding-left: 0 !important;
  }
  .btn-lg {
    --bs-btn-font-size: 1rem !important;
  }
  .hero-title {
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
  }
  .show-off-button {
    left: 5.5rem;
    top: 12.75rem;
  }
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .hidden-nav {
    display: none;
  }

  .hero-button {
    padding-left: 0%;
    position: relative;
    top: 5rem;
  }

  .hero-title {
    margin-bottom: 0px;
    bottom: 0px;
    top: 15px;
    left: 3.5rem;
  }
  .img-fluid {
    max-width: 550px;
  }
  .offer-text {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  }
  .offer-second-text-two {
    display: flex;
    /* margin-top: 10.5rem; */
    margin-bottom: 1rem;
    flex-direction: column;
  }
  .offer-hide {
    display: none;
  }
  .offer-img {
    margin-top: 11rem;
  }
  /* .offer-img-last {
    margin-top: 10rem;
  } */
  .shake-transition {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 2s;
  }

  .shake-transition2 {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 3s;
  }

  .shake-transition3 {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 4s;
  }
  .logo-hover {
    top: 1px;
    right: 185px;
  }
  .au-div {
    padding-left: 9% !important;
  }
  /* .banner {
    width: 83%;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-83.5%);
    }
  } */
  .hero-img {
    bottom: 0px;
    top: 5px;
  }
  #typeChat {
    font-size: 1.4rem !important;
  }

  .btn-about,
  .btn-services {
    font-size: 1.3rem;
  }
  .marquee {
    bottom: 0px;
  }
  .ant-bex {
    width: 370px;
  }
  .contact-text-move {
    top: 9rem;
  }
  .disco-ball {
    max-width: 381px;
    left: 7rem;
    bottom: 5rem;
  }
  .contact-background {
    height: 27rem;
  }
  .hero-button {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .header-background {
    height: 85.5px;
  }
  .mx-lg-auto {
    margin-right: auto !important;
    margin-left: none !important;
  }
  .img-fluid {
    max-width: none;
  }

  /* .hero-button {
    padding-left: 250px;
  } */
  /* .hero-img {
    margin-top: 0px;
  } */
  .container.px-4 {
    max-width: 1200px;
  }
  .show-off-button {
    left: 4.5rem;
    top: 10.75rem;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .hero-img {
    padding-left: 48px !important;
    top: 10px;
  }
  #typeChat {
    font-size: 1.8rem !important;
  }
  .hero-title {
    margin-bottom: 0px;
    padding-left: 4% !important;
    padding-right: 1% !important;
    left: 0.5rem;
  }
  .logo-hover {
    right: 4px;
    /* width: 120px;
    top: 5.7px; */
  }
  .location-text,
  .nav-text {
    font-size: 1.7rem;
  }
  .hero-button {
    padding-left: 25%;
    top: 0rem;
  }
  .ant-bex {
    width: 350px;
  }
  .au-div {
    padding-left: 0% !important;
  }
  .offer-last-text {
    display: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .offer-last-text-hide {
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 2.2rem !important;
    color: #212553;
  }
  h3 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem !important;
  }
  .disco-ball {
    left: 14.5rem;
  }
}

@media (min-width: 1024px) {
  /* .logo-hover {
    right: -15px;
  } */
  .hero-title {
    margin-bottom: 0px;
    margin-top: 27px !important;
  }
}

@media (min-width: 1200px) {
  .show-off-button {
    left: 5.5rem;
    top: 13.75rem;
  }
  .logo-button {
    width: 57%;
  }
  .logo-hover {
    right: -7px;
    width: 113px;
  }
  /* .logo-hover {
    display: flex;
    width: 100px;
    height: 75px;
  } */
}

@media (min-width: 1400px) {
  .show-off-button {
    left: 6.5rem;
    top: 16.75rem;
  }
  .hero-title {
    padding-left: 1% !important;
  }
  .btn-lg {
    --bs-btn-font-size: 1.25rem !important;
  }
  .au-div {
    padding-left: 10% !important;
  }
  .ant-bex {
    width: 400px;
  }
  .banner-hide {
    display: inline-block;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-25%);
    }
  }
}

@media (max-width: 576px) {
  .container #show-off-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #show-off-area.container {
    max-width: 360px;
  }

  /* .hero-img {
    position: relative;
    bottom: 50px;
    padding-left: 48px;
  } */

  /* .hero-title {
    margin-top: 0;
    position: relative;
    bottom: 35px;
  } */
}

@media (max-width: 767px) {
  /* #typeChat {
    font-size: 1.5rem;
  } */
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .show-off-show {
    display: none;
  }
  .show-off-hide {
    display: flex;
  }
  .logo-button {
    width: 0%;
    height: 67px;
  }
  .about-text {
    display: flex;
    justify-content: center;
  }
  /* .au-div {
    padding-left: 5% !important;
  } */
  .au-desc {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  /* #typeChat {
    font-size: 1.8rem;
  } */
}

@media (max-width: 1199px) {
  .nav {
    position: relative;
    left: 20%;
  }
  .main-logo {
    width: 600px;
  }
}

@media (max-width: 1154px) {
  /* .hero-button {
    padding-left: 100px;
  } */
}

@media (max-width: 1400px) {
  .col-lg-6 {
    padding-right: 0px;
    padding-left: 48px;
  }
}
