/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Elements ------ */

body {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
  filter: drop-shadow(3px 2px 2px black);
}

h2 {
  font-size: 1.25rem !important;
  color: #212553;
}

h3 {
  font-size: 1rem !important;
}

span {
  font-size: 0.85rem;
}

p {
  font-size: 0.85rem !important;
}

a {
  text-decoration: none;
}

/* ------ Header ------ */

.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.header-background {
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Hero ------ */

.hero-title {
  margin-top: 0;
  position: relative;
  bottom: 55px;
  padding-left: 5% !important;
}

.hero-img {
  position: relative;
  bottom: 50px;
  padding-left: 24px !important;
}

.hero-button {
  margin-top: 0rem;
  position: relative;
  bottom: 4rem;
  width: 265px;
}

.img-fluid {
  max-width: 118%;
}

.btn-about,
.btn-about-link {
  background-color: #212553;
  color: #fa0c94;
  box-shadow: 3px 3px 2px 2px #686860b3;
  font-size: 0.9rem;
}

.btn-about:hover {
  background-color: #def984;
  color: #fa0c94;
}

.btn-services {
  border-color: #fa0c94;
  font-size: 0.9rem;
}

.btn-services:hover {
  box-shadow: 3px 3px 2px 2px #686860b3;
  color: #fff3ef;
  border-color: #000000;
}

#typeChat {
  font-size: 1rem !important;
  margin-right: 1rem;
}

/* ------ Marquee ------ */

.marquee {
  border: 3px solid rgba(0, 0, 0);
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  height: 75px;
  width: 100%;
  white-space: nowrap;
}

.marquee-img {
  position: absolute;
  width: auto;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 20s linear infinite;
}

.banner {
  width: 150%;
}

.banner-hide {
  display: none;
  width: 600px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-151%);
  }
}

/* ------ About ------ */

section#about {
  background-color: #fff3ef;
  border-radius: 50px;
  margin-top: 2rem;
}

.about-text {
  text-align: center;
}

.about-title {
  color: #fa0c94;
  text-align: center;
  margin-top: 3rem;
}

.little-title {
  color: #fa0c94;
}

.ant-bex {
  border-radius: 50px;
  width: 275px;
  padding-left: 0%;
}

.slideUp {
  animation-name: slideUp;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-duration: 1s;
}

.pic-shadow {
  box-shadow: 3px 3px 2px 2px #686860b3;
}

.au-desc {
  text-align: center;
  margin-top: 1rem;
}

.au-div {
  padding-left: 0% !important;
  margin-top: 0rem;
}

.btn-about-link {
  margin-bottom: 1rem;
}

/* ------ What we offer ------ */

section#what-we-offer {
  background-image: url(../Images/Untitled\ design.png);
}

.offer-text {
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  color: #fa0c94;
  filter: drop-shadow(3px 2px 2px black);
}

.offer-text h2 {
  font-size: 3rem;
}

.offer-img-first {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
}

.btn-desk {
  display: none;
}

.offer-img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.offer-img-last {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.offer-first-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.offer-second-text {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.offer-second-text-two {
  display: none;
}

.offer-last-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.offer-last-text-hide {
  display: none;
}

.offer-title {
  text-decoration: underline;
  font-size: 2rem;
}

.offer-desc {
  font-size: 1.2rem;
  justify-content: center;
}

@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pic-shadow2 {
  filter: drop-shadow(5px 5px 5px #222);
}

.shake-transition {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 3s;
}

.shake-transition2 {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 6s;
}

.shake-transition3 {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 9s;
  animation-timing-function: linear;
  animation-delay: 9s;
}

/* ------ Show-off ------ */

/* .show-off-text {
  border: solid;
  border-color: #0000005c;
  border-radius: 47%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.btn-show-off {
  background-color: #59e244;
  box-shadow: 0px 3px 2px 2px #0000006f;
}

.show-off-button {
  z-index: 2;
  position: absolute;
  left: 5.375rem;
  top: 12.75rem;
}

.btn-show-off:hover {
  background-image: linear-gradient(#59e24469, #59e244);
}

.show-off-position {
  position: relative;
}

.show-off {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
}

.show-off-show {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
  display: flex;
}

.show-off-hide {
  margin-bottom: 3.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  position: relative;
  display: none;
}

.hidden {
  display: none;
}

.show-off img {
  border-radius: 12%;
}

.show-off-show img {
  border-radius: 12%;
}

.show-off-hide img {
  border-radius: 12%;
} */

/* ------ Section Break ------ */

.test {
  background-color: #fff3ef;
  border-radius: 50px;
  margin-top: 1rem;
  text-align: center;
}

/* ------ Contact ------ */

#contact {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.contact-background {
  background-color: #ffdbcd !important;
  border-radius: 75px;
  height: 22rem;
}

.contact-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

.contact-text-move {
  top: 5rem;
}

/* ------ Footer ------ */

.footer-background {
  background-color: #def984;
  font-size: 1.3rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-centre {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 0.7rem;
  padding-top: 0rem;
  margin-top: 0rem;
}

.grid-img {
  grid-column: 1 / 4;
  grid-row: 2;
}

.grid-right {
  display: grid;
  grid-column: 3;
  grid-row: 2;
  align-items: end;
}

.grid-left {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  align-items: end;
  justify-content: center;
}

.footer-img {
  position: relative;
  bottom: 3rem;
}

.footer-font-size {
  font-size: 0.5rem !important;
}

.footer-socials {
  position: relative;
  top: 3rem;
}

svg {
  height: 0.7rem;
  width: 0.7rem;
}

.brag {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.terms-privacy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0.3rem;
}

/* ------ Media Queries ------ */

@media (min-width: 375px) {
  .marquee {
    height: 87px;
  }
  .hero-button {
    margin-left: 10%;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  #typeChat {
    font-size: 1.3rem !important;
  }
  .hero-button {
    margin-left: 14%;
  }
  .marquee {
    height: 98px;
  }
  .banner {
    width: 600px;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-33.5%);
    }
  }
  .contact-text-move {
    top: 5.5rem;
  }
  .brag {
    padding-right: 1rem;
  }
}

@media (min-width: 576px) {
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 2;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .logo-hover {
    top: 1px;
    right: 113px;
  }
  #hero {
    margin-top: 5rem;
  }
  .img-fluid {
    max-width: 130%;
  }
  .show-off-button {
    left: 3.75rem;
    top: 8.75rem;
  }
  .hero-img {
    padding-left: 0 !important;
  }
  .btn-lg {
    --bs-btn-font-size: 1rem !important;
  }
  .hero-title {
    bottom: 3.5rem;
    right: 0rem;
  }
  #typeChat {
    font-size: 1.1rem !important;
  }
  .hero-button {
    margin-left: 0%;
    margin-top: 0rem;
    position: relative;
    width: 50%;
    left: 16rem;
    bottom: 7rem;
  }
  .grid-centre {
    font-size: 1.2rem;
  }
  .footer-img {
    bottom: 2rem;
  }
  .footer-font-size {
    font-size: 0.75rem !important;
  }
  svg {
    height: 1rem;
    width: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .logo-hover {
    top: 1px;
    right: 166px;
  }
  #typeChat {
    font-size: 1.4rem !important;
  }
  .hero-button {
    padding-left: 0%;
    position: relative;
    top: -8rem;
    left: 26rem;
    width: 43%;
  }
  .hero-img {
    bottom: 0px;
    top: 0px;
    margin-top: 0rem;
  }
  .hero-title {
    margin-bottom: 0px;
    top: -2rem;
    left: 3.5rem;
    width: 45%;
  }
  .about-title {
    margin-top: 4rem;
  }
  .btn-about,
  .btn-services,
  .btn-about-link {
    font-size: 1.3rem;
  }
  .img-fluid {
    max-width: 550px;
  }
  .marquee {
    bottom: 0px;
  }
  .ant-bex {
    width: 370px;
  }
  .offer-text {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  .offer-second-text-two {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  .offer-hide {
    display: none;
  }
  .offer-img {
    margin-top: 11rem;
  }
  .shake-transition {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 2s;
  }
  .shake-transition2 {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 3s;
  }
  .shake-transition3 {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: 9s;
    animation-timing-function: linear;
    animation-delay: 4s;
  }
  .contact-text-move {
    top: 9rem;
  }
  .contact-background {
    height: 27rem;
  }
}

@media (min-width: 992px) {
  .header-background {
    height: 80px;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 102px;
  }
  .location-text,
  .nav-text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .mx-lg-auto {
    margin-right: auto !important;
    margin-left: none !important;
  }
  .img-fluid {
    max-width: none;
  }
  .container.px-4 {
    max-width: 1200px;
  }
  .show-off-button {
    left: 4.5rem;
    top: 10.75rem;
  }
  .hero-img {
    padding-left: 48px !important;
    top: 10px;
  }
  #typeChat {
    font-size: 1.8rem !important;
  }
  .hero-title {
    margin-bottom: 0px;
    padding-left: 4% !important;
    padding-right: 1% !important;
    left: 0.5rem;
  }
  .hero-button {
    padding-left: 0rem;
    top: -7rem;
    left: 34rem;
    width: 30%;
  }
  .ant-bex {
    width: 350px;
  }
  .btn-desk {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .offer-last-text {
    display: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .offer-last-text-hide {
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
    margin-bottom: 1rem;
  }
  .test {
    margin-top: 2rem;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  .nav-text,
  .location-text {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
  .hero-title {
    margin-bottom: 0px;
    margin-top: 27px !important;
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
  .show-off-button {
    left: 5.5rem;
    top: 13.75rem;
  }
  .hero-button {
    top: -15rem;
    left: 48rem;
  }
  .au-desc {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
  .show-off-button {
    left: 6.5rem;
    top: 16.75rem;
  }
  .hero-title {
    padding-left: 1% !important;
  }
  .btn-lg {
    --bs-btn-font-size: 1.25rem !important;
  }
  .au-div {
    padding-left: 10% !important;
  }
  .ant-bex {
    width: 400px;
  }
  .offer-last-text-hide {
    margin-top: 15rem;
  }
  .banner-hide {
    display: inline-block;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-25%);
    }
  }
}

@media (max-width: 575px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
  .container #show-off-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #show-off-area.container {
    max-width: 360px;
  }
}

@media (max-width: 767px) {
  .au-desc {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
  .show-off-show {
    display: none;
  }
  .show-off-hide {
    display: flex;
  }
  .about-text {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1199px) {
  header .nav {
    position: relative;
    left: 20%;
  }
  .main-logo {
    width: 600px;
  }
}
