body {
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
  color: #fa0c94;
  text-align: center;
}
h2 {
  font-size: 1.25rem !important;
  color: #212553;
  filter: drop-shadow(3px 2px 2px #fff3ef);
}
h3 {
  font-size: 1rem !important;
}
span {
  font-size: 0.85rem;
}
p {
  font-size: 0.85rem !important;
}

ul {
  list-style-type: none;
  font-size: 1rem !important;
  padding-left: 1.5rem;
}

.test {
  background-color: #fff3ef;
  border-radius: 50px;
}

/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Header ------ */

.header-background {
  /* background-image: url(../Images/Website_Banner2.png);
  background-repeat: repeat; */
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Carousel ------ */

.btn-lg {
  --bs-btn-font-size: 0.75rem !important;
  --bs-btn-padding-y: 0.2rem !important;
  --bs-btn-padding-x: 0.5rem !important;
}

.carousel-control-next-icon {
  background-image: url(../Images/knife.gif) !important;
  /* height: 15%; */
  width: 1.5rem;
}

.carousel-control-prev-icon {
  background-image: url(../Images/knife.gif);
  transform: scaleX(-1);
  /* height: 17%; */
  width: 1.5rem;
}

.carousel-imgs {
  height: 250px;
  max-height: 600px;
}

.web-pic {
  position: relative;
  right: 5rem;
}

.carousel-caption {
  bottom: 0rem;
}

.carousel-h2 {
  position: relative;
  top: 0.4rem;
}

/* .social-title {
 background-image: url("../Images/Banner_3.png");
  background-clip: text;
  -webkit-background-clip: text; 
  color: black;
} */

.social-pic {
  position: relative;
  right: 5rem;
}

.everything-big {
  position: relative;
  right: 5rem;
}

.extras-big {
  position: relative;
  right: 6.5rem;
}

/* ------ Marquee ------ */

.marquee {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  border: 3px solid rgba(0, 0, 0);
  border-left: none;
  border-right: none;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  height: 75px;
  width: 100%;
  /* Full width of its parent */
  white-space: nowrap;
  bottom: 40px;
}

.marquee-img {
  position: absolute;
  width: auto;
  /* background-image: url(../Images/marquee\ banner.png);
  background-repeat: repeat; */
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Start off the right edge */
  transform: translateX(100%);
  /* Animate to the left */
  animation: scroll-left 20s linear infinite;
}

.banner {
  width: 150%;
}

.banner-hide {
  display: none;
  width: 600px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-151%);
  }
}

/* ------ Services ------ */

.selling-para {
  text-align: center;
  padding-left: 0rem;
  padding-right: 0rem;
}

.heading-centre {
  text-align: center;
}

.float-background,
.float-background1,
.float-background2,
.float-background3 {
  background-color: #fff3ef;
  border-radius: 25px;
  width: 93%;
  position: relative;
  left: 0.5rem;
  padding-right: 1rem;
  /* margin-right: 20%;
  padding-left: 8%; */
}

.float-background1 {
  left: 2rem;
  margin-bottom: 1rem;
}

.float-background2 {
  left: -1rem;
  margin-bottom: 1rem;
  /* bottom: 1rem; */
}

/* .float-background3 {
  bottom: 2rem;
} */

/* .pricing-size {
  font-size: 1rem;
  font-weight: 500;
} */

.lower-pics,
.lower-pics2,
.lower-pics3 {
  /* height: 550px; */
  width: 250px;

  position: relative;
  bottom: 2.5rem;
  left: 1.75rem;
}

.lower-pics2 {
  bottom: 1.5rem;
}

.lower-pics3 {
  bottom: 2rem;
}

.social-selling {
  /* margin-top: 5%; */
  position: relative;
  /* left: 1%; */
  bottom: 16px;
}

#socials {
  margin-top: 3%;
}

#break-paragraph {
  background-color: #ffdbcd;
  /* background-image: url(../Video/moving_disco.gif); */
  /* background-repeat: no-repeat; */
  border-radius: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  bottom: 1.5rem;
}

#break-paragraph .img-fluid {
  max-width: 85%;
}

.video-video {
  width: 100%;
}

/* .inner-border {
  background-color: #ffdbcd;

  border-radius: 50px;
  margin-top: 0%;
  margin-bottom: 3%;
  margin-left: -3.5%;
  max-width: 108% !important;
} */

.meal-size {
  color: #fa0c94;
  padding-top: 1rem;
  text-align: center;
}

.pricing-text {
  font-size: 1rem;
  text-align: center;
}

.cont-extras {
  margin-top: -1rem;
}

.everything-sml {
  position: relative;
  left: 2.5rem;
  margin-bottom: 1rem;
}

.col-hide {
  display: none;
}

#extras {
  position: relative;
  bottom: 1rem;
}

.extras {
  /* margin-right: 10%; */
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* ------ End ------ */

.funky-divider {
  width: inherit;
  height: 40px;
}

.second-banner {
  position: relative;
  bottom: 65px;
}

.no-padding {
  padding: 0;
}

.web-selling {
  margin-top: 5%;
}

.slides {
  margin-bottom: 1%;
}

.social-p {
  color: #fff3ef;
}

/* .web-title {
  color: #fff3ef;
} */

.btn-pricing {
  background-color: #fa0c94;
  color: #11ddac;
  box-shadow: 3px 3px 2px 2px #686860b3;
}

@media (min-width: 370px) {
  .lower-pics {
    width: 300px;
  }
  .marquee {
    height: 87px;
  }
  .lower-pics2,
  .lower-pics3 {
    left: 3rem;
  }
  .extras-big {
    right: 4.5rem;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
    color: #212553;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  .lower-pics {
    left: 3rem;
  }
  .lower-pics2,
  .lower-pics3 {
    left: 4.5rem;
  }
  .marquee {
    height: 98px;
  }
  .banner {
    width: 600px;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-33.5%);
    }
  }
  .float-background1 {
    left: 2.5rem;
  }
  .everything-big,
  .web-pic {
    right: 3rem;
  }
  .social-pic {
    right: 2rem;
  }
  .extras-big {
    right: 3rem;
  }
}

@media (min-width: 500px) {
  .web-pic {
    right: 1rem;
  }
  .social-pic,
  .everything-big {
    right: 0rem;
  }
  .extras-big {
    right: 1rem;
  }
}

@media (min-width: 576px) {
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .lower-pics,
  .lower-pics2,
  .lower-pics3 {
    left: 6rem;
    width: 350px;
  }
  .lower-pics2 {
    left: 5rem;
  }
  .everything-sml {
    left: 7.5rem;
  }
  .logo-hover {
    top: 1px;
    right: 128px;
  }
  .lower-pics {
    bottom: 1.5rem;
  }
  #pricing {
    position: relative;
    top: 5.4rem;
  }
  .float-background1 {
    left: 4.15rem;
  }
  .float-background2 {
    left: -2rem;
  }
  .web-pic,
  .extras-big {
    right: 0rem;
  }
  .social-pic,
  .everything-big {
    right: -1rem;
  }
}

@media (min-width: 768px) {
  /* .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 1;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  } */
  .btn-lg {
    --bs-btn-font-size: 1.25rem !important;

    --bs-btn-padding-x: 1rem !important;
  }
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .logo-hover {
    top: 1px;
    right: 182px;
  }
  .lower-pics {
    left: 0rem;
    bottom: 0.5rem;
  }
  .second-banner {
    bottom: 0rem;
  }
  .social-selling {
    bottom: 0rem;
  }
  #break-paragraph {
    bottom: 0rem;
  }
  .inner-border {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .everything-sml {
    left: 170px;
  }
  #extras {
    bottom: 0rem;
  }
  #website .lower-pics {
    bottom: 0rem;
    top: 5rem;
  }
  #socials .lower-pics {
    bottom: 0rem;
    top: 2rem;
  }
  #extras .lower-pics {
    bottom: -7.5rem;
  }
  .social-selling {
    left: 3%;
  }
  .heading-color,
  .meal-size {
    font-size: 2.5rem;
  }
  .pricing-size,
  .pricing-text {
    font-size: 1.5rem;
  }
  .carousel-imgs {
    height: 450px;
  }
  .carousel-control-prev-icon {
    height: 10%;
    width: 3.5rem;
  }
  .carousel-control-next-icon {
    height: 10%;
    width: 3.5rem;
  }
  .marquee {
    bottom: 0px;
  }
  .everything-big,
  .web-pic,
  .extras-big {
    right: 6rem;
  }
  .social-pic {
    right: 4.5rem;
  }
  .lower-pics3 {
    left: 0rem;
    top: 26rem;
  }
  .float-background1 {
    width: 150%;
    left: 8.6rem;
  }
  .float-background2 {
    left: -2rem;
    width: 115%;
  }
  .extras {
    padding-left: 1.5rem;
  }
  .lower-pics {
    width: 312px;
    left: -2rem;
  }
  .lower-pics2 {
    left: -2rem;
    top: 5rem;
  }
  .lower-pics3 {
    width: 300px;
  }
  #extras h2 {
    position: relative;
    left: 10rem;
  }
  #extras .selling-para {
    position: relative;
    left: 10rem;
  }
  .cont-extras {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .header-background {
    height: 85.5px;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 110px;
  }
  .location-text,
  .nav-text {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 2.2rem !important;
    color: #212553;
  }
  h3 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem !important;
  }
  .everything-sml {
    left: 0px;
    margin-top: 2rem;
  }
  .lower-pics {
    width: 400px;
  }
  #website .lower-pics {
    top: 4rem;
  }
  #socials .lower-pics {
    top: 0rem;
  }
  .social-selling {
    left: 1%;
  }
  .meal-move {
    position: relative;
    left: 1rem;
  }
  #extras .col-md-7 {
    padding-right: 0px;
  }
  .extras {
    padding-left: 1rem;
  }
  #extras .lower-pics {
    bottom: -2.5rem;
  }
  .web-selling {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  #socials {
    margin-top: 2.5rem;
  }
  .web-pic {
    right: 0rem;
  }
  .social-pic,
  .everything-big {
    right: -3rem;
  }
  .lower-pics2 {
    left: -1.5rem;
    top: 5rem;
    width: 450px;
  }
  .float-background {
    left: 1.5rem;
  }
  .float-background1 {
    width: 125%;
    left: 14rem;
  }
  .inner-border {
    position: relative;
    left: 3rem;
  }

  .extras-big {
    right: -1rem;
  }
  .carousel-control-prev-icon {
    height: 20%;
    width: 5.5rem;
  }
  .carousel-control-next-icon {
    height: 20%;
    width: 5.5rem;
  }
  .selling-para {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .lower-pics3 {
    left: 2rem;
    top: 28rem;
    width: 375px;
  }
  #extras h2 {
    position: relative;
    left: 13rem;
  }
  #extras .selling-para {
    position: relative;
    left: 12rem;
  }
  .nav-text,
  .location-text {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
  .float-background {
    /* background-color: #fff3ef;
    border-radius: 25px; */
    width: 64%;
    /* position: relative; */
    left: 8rem;
    /* margin-right: 20%;
    padding-left: 8%; */
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
  .heading-color,
  .meal-size {
    font-size: 3.5rem;
  }
  .pricing-size,
  .pricing-text {
    font-size: 2rem;
  }
  .lower-pics {
    width: 480px;
  }
  .carousel-imgs {
    height: 550px;
  }
  /* .social-selling {
    left: 2%;
  } */
  .web-pic {
    right: 0rem;
  }
  /* .social-pic {
    right: -5rem;
  } */
  .everything-big {
    right: -2rem;
  }
  /* .extras-big {
    right: -3rem;
  } */
  .funky-divider {
    height: 60px;
  }
  .lower-pics2 {
    left: 1rem;
    top: 3rem;
    width: 480px;
  }
  .lower-pics3 {
    left: 4rem;
    top: 26rem;
    width: 400px;
  }
  .float-background1 {
    width: 121%;
  }
  #extras h2 {
    left: 14rem;
  }
  #extras .selling-para {
    left: 14rem;
  }
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
  .inner-border {
    position: relative;
    left: -4rem;
    width: 61rem;
    /* max-width: 80rem !important; */
    margin-left: 0rem;
  }
  /* .carousel-imgs {
    height: 600px;
  } */
  .social-pic {
    right: -9rem;
  }
  .everything-big {
    right: -8rem;
  }
  .extras-big {
    right: -6rem;
  }
  .lower-pics {
    width: 550px;
  }
  #website .lower-pics {
    top: 0rem;
    right: 0rem;
    left: -5rem;
    width: 600px;
  }
  .banner-hide {
    display: inline-block;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-25%);
    }
  }
  .web-pic {
    right: -6rem;
  }
  .lower-pics2 {
    left: 2rem;
    top: 2rem;
    width: 500px;
  }
  .lower-pics3 {
    top: 26rem;
    width: 414px;
    left: 5rem;
  }
  .float-background1 {
    width: 105%;
    left: 15rem;
  }
  #extras h2 {
    left: 17rem;
  }
  #extras .selling-para {
    left: 17rem;
  }
}

@media (max-width: 576px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
}

@media (max-width: 1199px) {
  .nav {
    position: relative;
    left: 20%;
  }
}
