/* ------ Fonts ------ */

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  letter-spacing: -3px;
}

.lekton-regular {
  font-family: "Lekton", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 600;
  font-style: normal;
}

/* ------ Elements ------ */

body {
  background-image: url(../Images/Untitled\ design.png);
}

h1 {
  font-size: 2.4rem !important;
  color: #fa0c94;
  text-align: center;
  filter: drop-shadow(3px 2px 2px black);
}
h2 {
  font-size: 1.25rem !important;
  color: #212553;
  filter: drop-shadow(3px 2px 2px #fff3ef);
}
h3 {
  font-size: 1rem !important;
}
span {
  font-size: 0.85rem;
}
p {
  font-size: 0.85rem !important;
}
ul {
  list-style-type: none;
  font-size: 1rem !important;
  padding-left: 1.5rem;
}

.title-shadow {
  filter: drop-shadow(3px 2px 2px black);
}

/* ------ Header ------ */

.header-background {
  background-color: #212553;
  background-repeat: repeat;
  border: 3px solid #000000;
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-text {
  color: #fa0c94;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.nav-text:hover {
  color: #def984;
}

.nav {
  --bs-nav-link-hover-color: #def984;
}

.location-text {
  color: #fff3ef9c;
  font-size: 1rem;
  filter: drop-shadow(3px 2px 2px black);
}

.logo-button {
  width: 63%;
  height: 67px;
}

.logo-hover {
  display: flex;
  width: 100px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/home-button2.svg);
  transition: background-image 0.3s ease-in-out;
  position: relative;
  top: 6px;
}

.logo-hover:hover {
  background-image: url(../Images/home-button-green.svg);
}

/* ------ Carousel ------ */

.btn-lg {
  --bs-btn-font-size: 0.75rem !important;
  --bs-btn-padding-y: 0.2rem !important;
  --bs-btn-padding-x: 0.5rem !important;
}

.carousel-control-next-icon {
  background-image: url(../Images/knife.gif) !important;
  width: 1.5rem;
}

.carousel-control-prev-icon {
  background-image: url(../Images/knife.gif);
  transform: scaleX(-1);
  width: 1.5rem;
}

.carousel-imgs {
  height: 250px;
  max-height: 600px;
}

.web-pic {
  position: relative;
  right: 5rem;
}

.carousel-caption {
  bottom: 0rem;
}

.carousel-h2 {
  position: relative;
  top: 0.4rem;
  color: #fff3ef;
  filter: drop-shadow(3px 2px 2px black);
}

.social-pic {
  position: relative;
  right: 5rem;
}

.everything-big {
  position: relative;
  right: 5rem;
}

.extras-big {
  position: relative;
  right: 4.5rem;
}

.slides {
  margin-bottom: 1%;
}

/* ------ Marquee ------ */

.marquee {
  border: 3px solid rgba(0, 0, 0);
  border-left: none;
  border-right: none;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  height: 75px;
  width: 100%;
  white-space: nowrap;
  bottom: 2rem;
}

.marquee-img {
  position: absolute;
  width: auto;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 20s linear infinite;
}

.banner {
  width: 150%;
}

.banner-hide {
  display: none;
  width: 600px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-151%);
  }
}

/* ------ Intro ------ */

.title {
  background-color: #fff3ef;
  /* border-radius: 50px; */
  margin-bottom: 1rem;
}

.intro {
  background-color: #ffdbcd;
  border-radius: 50px;
  text-align: center;
}

/* ------ Services ------ */

.heading-centre {
  text-align: center;
}

.selling-para {
  text-align: center;
  padding-left: 0rem;
  padding-right: 0rem;
}

.float-background,
.float-background1,
.float-background2,
.float-background3 {
  background-color: #fff3ef;
  border-radius: 25px;
  width: 93%;
  position: relative;
  left: 0.5rem;
  padding-right: 1rem;
}

.float-background1 {
  left: 2rem;
  margin-bottom: 1rem;
  background-color: #fff3ef;
}

.float-background2 {
  left: -1rem;
  margin-bottom: 1rem;
  background-color: #ffdbcd;
}

.lower-pics,
.lower-pics2,
.lower-pics3 {
  width: 250px;
  position: relative;
  bottom: 2rem;
  left: 1.4rem;
}

.lower-pics2 {
  bottom: 1.5rem;
}

.lower-pics3 {
  bottom: 2rem;
}

.social-selling {
  position: relative;
  bottom: 16px;
}

#branding {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#break-paragraph {
  background-color: #ffdbcd;
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  bottom: 1.5rem;
}

#break-paragraph .img-fluid {
  max-width: 85%;
}

.video-video {
  width: 100%;
}

.meal-size {
  color: #fa0c94;
  padding-top: 1rem;
  text-align: center;
}

.pricing-text {
  font-size: 1rem;
  text-align: center;
}

.cont-extras {
  margin-top: 0rem;
}

.everything-sml {
  position: relative;
  left: 2.5rem;
  margin-bottom: 1rem;
}

.col-hide {
  display: none;
}

#extras {
  position: relative;
  bottom: 1rem;
}

.extras {
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.extras-title {
  transform: rotate(346deg);
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
  text-align: center;
  position: relative;
  left: -1.5rem;
}

.extras-title-img {
  width: 250px;
}

.contact-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

.coming-soon {
  background-color: #fa0c94;
  text-align: center;
  border-radius: 25px;
  filter: none;
  padding: 0.5rem;
}

/* ------ End ------ */

.second-banner {
  position: relative;
  bottom: 65px;
}

.no-padding {
  padding: 0;
}

.web-selling {
  margin-top: 5%;
}

.social-p {
  color: #fff3ef;
}

/* ------ Contact ------ */

.title {
  background-color: #fff3ef;
  filter: none;
  /* border-radius: 50px; */
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.btn-pricing {
  background-color: #212553;
  color: #fa0c94;
  box-shadow: 3px 3px 2px 2px #686860b3;
}

/* ------ Footer ------ */

.footer-background {
  background-color: #def984;
  font-size: 1.3rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-centre {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 0.7rem;
  padding-top: 0rem;
  margin-top: 0rem;
}

.grid-img {
  grid-column: 1 / 4;
  grid-row: 2;
}

.grid-right {
  display: grid;
  grid-column: 3;
  grid-row: 2;
  align-items: end;
}

.grid-left {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  align-items: end;
  justify-content: center;
}

.footer-img {
  position: relative;
  bottom: 3rem;
}

.footer-font-size {
  font-size: 0.5rem !important;
}

.footer-socials {
  position: relative;
  top: 3rem;
}

svg {
  height: 0.7rem;
  width: 0.7rem;
}

.brag {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.terms-privacy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0.3rem;
}

/* ------ Media Queries ------ */

@media (min-width: 370px) {
  .lower-pics {
    width: 300px;
  }
  .marquee {
    height: 87px;
  }
  .lower-pics2,
  .lower-pics3 {
    left: 3rem;
  }
  .web-pic {
    right: 4rem;
  }
  .social-pic {
    right: 3rem;
  }
  .extras-big {
    right: 2.5rem;
  }
  .extras-title {
    left: -4rem;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.9rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  span {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.15rem !important;
  }
  .lower-pics {
    left: 3rem;
  }
  .lower-pics2,
  .lower-pics3 {
    left: 4.5rem;
  }
  .marquee {
    height: 98px;
  }
  .banner {
    width: 600px;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-33.5%);
    }
  }
  .float-background1 {
    left: 2.5rem;
  }
  .everything-big,
  .web-pic {
    right: 3rem;
  }
  .social-pic {
    right: 2rem;
  }
  .extras-big {
    right: 1rem;
  }
  .extras-title {
    left: -4rem;
  }
  .brag {
    padding-right: 1rem;
  }
}

@media (min-width: 500px) {
  .web-pic {
    right: 1rem;
  }
  .social-pic,
  .everything-big {
    right: 0rem;
  }
  .extras-big {
    right: 1rem;
  }
}

@media (min-width: 576px) {
  .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
  }
  .header-background {
    position: fixed;
    height: 72.5px;
    width: -webkit-fill-available;
    z-index: 3;
    top: 0rem;
  }
  .hidden-nav {
    display: none;
  }
  .lower-pics,
  .lower-pics2,
  .lower-pics3 {
    left: 6rem;
    width: 350px;
  }
  .lower-pics2 {
    left: 5rem;
  }
  .everything-sml {
    left: 7.5rem;
  }
  .logo-hover {
    top: 1px;
    right: 113px;
  }
  .lower-pics {
    bottom: 2rem;
  }
  #pricing {
    position: relative;
    top: 5.4rem;
  }
  .float-background1 {
    left: 4.15rem;
  }
  .float-background2 {
    left: -2rem;
  }
  .web-pic,
  .extras-big {
    right: -1rem;
  }
  .social-pic,
  .everything-big {
    right: -1rem;
  }
  .extras-title {
    left: -8rem;
    margin-top: 1rem;
  }
  .extras-title-img {
    width: 300px;
  }
  .grid-centre {
    font-size: 1.2rem;
  }
  .footer-img {
    bottom: 2rem;
  }
  .footer-font-size {
    font-size: 0.75rem !important;
  }
  svg {
    height: 1rem;
    width: 1rem;
  }
}

@media (min-width: 768px) {
  .btn-lg {
    --bs-btn-font-size: 1.25rem !important;

    --bs-btn-padding-x: 1rem !important;
  }
  .nav-text,
  .location-text {
    font-size: 1.3rem;
  }
  .logo-hover {
    top: 1px;
    right: 166px;
  }
  .btn-pricing {
    font-size: 1.3rem;
  }
  .lower-pics {
    left: 0rem;
    bottom: 0.5rem;
  }
  .carousel-h2 {
    font-size: 3rem !important;
  }
  .second-banner {
    bottom: 0rem;
  }
  .social-selling {
    bottom: 0rem;
  }
  #break-paragraph {
    bottom: 0rem;
  }
  .inner-border {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .everything-sml {
    left: 131px;
  }
  #extras {
    bottom: 0rem;
  }
  .extras-title {
    left: -13rem;
  }
  #website .lower-pics {
    bottom: 0rem;
    top: 5rem;
  }
  .social-selling {
    left: 3%;
  }
  .heading-color,
  .meal-size {
    font-size: 2.5rem;
  }
  .pricing-size,
  .pricing-text {
    font-size: 1.5rem;
  }
  .carousel-imgs {
    height: 450px;
  }
  .carousel-control-prev-icon {
    height: 10%;
    width: 3.5rem;
  }
  .carousel-control-next-icon {
    height: 10%;
    width: 3.5rem;
  }
  .marquee {
    bottom: 0px;
  }
  .everything-big,
  .web-pic {
    right: 6rem;
  }
  .extras-big {
    right: 2rem;
  }
  .social-pic {
    right: 4.5rem;
  }
  .lower-pics3 {
    left: 1rem;
    top: 22rem;
  }
  .float-background1 {
    width: 150%;
    left: 8.6rem;
  }
  .float-background2 {
    left: -2rem;
    width: 115%;
  }
  .extras {
    padding-left: 1.5rem;
  }
  .lower-pics {
    width: 312px;
    left: -2rem;
  }
  #branding {
    margin-top: 2rem;
  }
  .lower-pics2 {
    left: -3rem;
    top: 5rem;
  }
  .lower-pics3 {
    width: 300px;
  }
  .cont-extras {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .header-background {
    height: 80px;
  }
  .logo-button {
    width: 27%;
    height: 67px;
  }
  .logo-hover {
    right: 0px;
    top: 6px;
    width: 102px;
  }
  .location-text,
  .nav-text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  h1 {
    font-size: 4rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  #break-paragraph .img-fluid {
    max-width: 68%;
  }
  .everything-sml {
    left: -2rem;
    margin-top: 2rem;
  }
  .lower-pics {
    width: 400px;
  }
  #website .lower-pics {
    top: 2rem;
  }
  .social-selling {
    left: 1%;
  }
  .meal-move {
    position: relative;
    left: 1rem;
  }
  #extras .col-md-7 {
    padding-right: 0px;
  }
  .extras {
    padding-left: 1rem;
  }
  .extras-title {
    left: -16rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .web-selling {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  #branding {
    margin-top: 2.5rem;
  }
  .web-pic {
    right: -2rem;
  }
  .social-pic,
  .everything-big {
    right: -3rem;
  }
  .lower-pics2 {
    left: -1.5rem;
    top: 5rem;
    width: 450px;
  }
  .float-background {
    left: 1.5rem;
  }
  .float-background1 {
    width: 125%;
    left: 14rem;
  }
  .inner-border {
    position: relative;
    left: 3rem;
  }
  .extras-big {
    right: -4rem;
  }
  .carousel-control-prev-icon {
    height: 20%;
    width: 5.5rem;
  }
  .carousel-control-next-icon {
    height: 20%;
    width: 5.5rem;
  }
  .selling-para {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .lower-pics3 {
    left: 3rem;
    top: 16rem;
    width: 362px;
  }
  .nav-text,
  .location-text {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .logo-hover {
    right: -1px;
  }
  .float-background {
    width: 64%;
    left: 6rem;
  }
  .lower-pics {
    left: -3rem;
  }
  .lower-pics2 {
    left: -0.5rem;
  }
}

@media (min-width: 1200px) {
  .logo-button {
    width: 55%;
    height: 67px;
  }
  .heading-color,
  .meal-size {
    font-size: 3.5rem;
  }
  .pricing-size,
  .pricing-text {
    font-size: 2rem;
  }
  #website .lower-pics {
    top: 0rem;
  }
  .lower-pics {
    width: 480px;
  }
  .carousel-imgs {
    height: 550px;
  }
  .web-pic {
    right: 0rem;
  }
  .everything-big {
    right: -2rem;
  }
  .lower-pics2 {
    left: 1rem;
    top: 0rem;
    width: 480px;
  }
  .everything-sml {
    left: -3rem;
    margin-top: 2rem;
  }
  #break-paragraph .img-fluid {
    max-width: 57%;
  }
  .lower-pics3 {
    left: 6rem;
    top: 16rem;
    width: 350px;
  }
  .float-background1 {
    width: 121%;
  }
  .extras-title {
    left: -20rem;
  }
}

@media (min-width: 1400px) {
  .logo-button {
    width: 61%;
  }
  .inner-border {
    position: relative;
    left: -4rem;
    width: 61rem;
    margin-left: 0rem;
  }
  .social-pic {
    right: -9rem;
  }
  .everything-big {
    right: -8rem;
  }
  .extras-big {
    right: -10rem;
  }
  .lower-pics {
    width: 550px;
  }
  #website {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .float-background {
    left: 9rem;
  }
  #website .lower-pics {
    top: -2rem;
    right: 0rem;
    left: -2rem;
    width: 500px;
  }
  .banner-hide {
    display: inline-block;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-25%);
    }
  }
  .web-pic {
    right: -8rem;
  }
  .lower-pics2 {
    left: 2rem;

    width: 500px;
  }
  .float-background1 {
    width: 105%;
    left: 15rem;
  }
  .extras-title {
    left: -25rem;
  }
}

@media (max-width: 575px) {
  .main-nav {
    display: none;
  }
  .hidden-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .logo-button {
    width: 0%;
    height: 67px;
  }
}

@media (max-width: 1199px) {
  header .nav {
    position: relative;
    left: 20%;
  }
}
